{% extends "layout.html" %}

{% block title %}
    homemade
{% endblock %}

{% block body %}
        <section class= "middle">
            <!-- FIRST RESTURANT!-->
            <div class="resturants">
                <img src="/static/tashat.JPG" alt="tashat logo" style="width: 100%; border: 3px solid purple;">
                <img src="/static/TASHAT1.JPG" alt="tashat menu" style="width: 100%; border: 3px solid purple;">
            </div>
            <br><br>
            <!-- SECOND RESTURANT!-->
            <div class="resturants" >
                <img src="/static/jalal1.JPG" alt="jalal logo" style="width: 100%; border: 3px solid purple;">
                <img src="/static/jalal.JPG" alt="jalal menu" style="width: 100%; border: 3px solid purple;">
            </div>
        </section>
{% endblock %}