{% extends "layout.html" %}

{% block title %}
    resturants
{% endblock %}

{% block body %}
    <section class= "middle new">
            <div class="card newpart" style="width: 18rem;">
                <img src="/static/belad.JPG" class="card-img-top" alt="belad alrafedain logo">
                <div class="card-body">
                    <p class="card-text">belad alrafedain restaurant is an arabic restaurant that offer many
                                         dishes that is originally from yamen and arab gulf </p>
                    <p class="card-text">location: Taman U, skudai, Johor, malaysia</p>
                </div>
            </div>
            <div class="card newpart">
                <img src="/static/wadi1.JPG" class="card-img-top" alt="wadi elhana logo">
                <div class="card-body">
                    <p class="card-text">wadi elhana restaurant is an arabic restaurant that offer many
                                         dishes that is originally from yamen and arab gulf </p>
                    <p class="card-text">location: johor baru, Johor, malaysia</p>
                </div>
            </div>
        </section>
{% endblock %}